/*ESTILO GERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: grey;
    height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 35px;
    text-align: center;

}

h2.titulo span {
    color: #ff8800;
}

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 6px #fff;
    transform: scale(1.05);
}


/*ESTILO NAVBAR*/

header {
    padding: 20px 4%;
}

header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #ff8800;
    transform: scale(1.25);
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 5px 40px;
}

header .btn-contato button {
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    background-color: #ff8800;
    border: 0;
    border-radius: 13px;
    cursor: pointer;
}


.logo {
    box-shadow: none;
    border: none;
}


/* ESTILO PRINCIPAL*/

.section.principal {
    padding: 40px 4%;
}

section.principal .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.principal h1 {
    color: white;
    font-size: 50px;
    padding-left: 40px;
}

.principal .txt-principal-esquerdo p {
    line-height: 20px;
    color: #fff;
    margin: 40px 0px;
    padding-left: 40px;
    gap: 50px;
    text-align: justify;
}

.whatsapp-link {
    display: block;
    width: 100px;
    height: 100px;

}

.whatsapp-icon {
    width: 100%;
    height: 100%;
    margin: auto;
}


.whatsapp-link:focus,
.whatsapp-link:hover {
    outline: none;
}

.whatsapp-link:focus .whatsapp-icon,
.whatsapp-link:hover .whatsapp-icon {
    opacity: 0.7;
    cursor: pointer;
}


.img-direita {
    width: 100%;
    height: 100%;

}

.principal .img-direita img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }

}

/*ESPECIALIDADES*/

section.especialidades {
    padding: 40px;
}

section.especialidades .flex {
    gap: 50px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff;
}

.especialidades .especialidades-box i {
    font-size: 50px;
    color: #ff8800;
}

.especialidades .especialidades-box h3 {
    font-size: 20px;
    margin: 15px 0;
}

/*SOBRE*/

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 10px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #ff8800;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-sociais button {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: orange;
    margin: 0 3px;
    font-size: 20px;
    cursor: pointer;
}


/*PORTIFOLIO*/
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff23;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 80px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 10s;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.efeito {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 1s;
}

.efeito:hover {
    opacity: 1;
}


/*FORMULARIO*/

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #00000065;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
}

form input::placeholder {
    color: #fff;
}

form textarea {
    resize:none ;
    max-height: 500px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}


form .btn-enviar input {
    width: 300px;
    background-color: #ff8800;
    font-weight: 500;
    cursor: pointer;
    transition: 1s;
}

